gradio==5.6.0
pandas==2.2.3
openpyxl==3.0.10
ollama==0.4.0
lxml==5.3.0
tiktoken==0.8.0
openai==1.59.6
colorama==0.4.6
pdf2zh==1.8.8
xinference-client==1.1.1
peewee==3.17.8
argostranslate==1.9.6
fontTools==4.55.3